
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="footer-p">Made with lust by <a class="footer-link" href="https://www.github.com/sameerkali/">@sameerkali</a> </p>
  </div>
</div>
</body>
</html>
